.App-logo {
  height: 40px;
}

.App-header {
  text-align: center;
  background-color: #222;
  padding: 10px;
  color: white;
}

.CodeMirror {
  text-align: left;
  border: 1px solid black;
  margin: 5px;
  height:150px !important;
}

.SqlOutput {
  margin:5px 4px 4px 4px;
}
