.App {
  text-align: center;
}

.App-logo {
  /*animation: App-logo-spin infinite 20s linear;*/
  height: 40px;
}

.App-header {
  background-color: #222;
  padding: 10px;
  color: white;
  height:15px;
  display:none;
}

.App-intro {
  font-size: 14px;
}

.App table { 
  border-collapse: collapse; 
  width:100%;
}

.App table, .App th, .App td {
  border: 1px solid black; 
  text-align:left; 
  font-family:Arial,Helvetica
}

.App th { 
  color:white;
  background-color:#55f;
}

.App th, .App td { 
  padding:4px; 
}

.CodeMirror {
  text-align: left;
  border: 1px solid black;
  margin: 5px;
  height:200px !important;
}

.Banner {
  width:100%;
  text-align:left;
  font-style:italic;
  font-size:14px;
  margin:2px;
}

.SqlOutput {
  margin:5px 4px 4px 4px;
}

.SqlLoadStatus {
  font-size:10px;
  text-align:left;
  color:#fff;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

#canvas {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}

.cursor {
  position: fixed;
  z-index:1000;
  color:#fd5;
  text-shadow:3px 2px #000;
  top: 0;
  left: 0;
}

.shell {
  width:100%;
  height:150px;
}

.clipBox {
  display:flex;
  flex-direction:column-reverse;
  overflow-y:scroll;
  text-align:left;
  width:100%;
  height:200px;
  border:none;
  margin:0 0 20px 0;
  font-family: "DejaVu Sans Mono", "Everson Mono", FreeMono, Menlo, Terminal, monospace;
  -webkit-font-smoothing: antialiased;
  font-size: 15px;
  white-space: pre;
  color: white;
  background-color: rgb(16, 16, 16);
}

.termText {
}

.record-button {
  color:red;
}

#terminal-container {
  /*width: 90%;*/
  height: 236px;
  margin: 2px;
  padding: 2px;
  font-size:14px;
  line-height:15px;
}

#terminal-container .terminal {
  background-color: #555;
  color: #fafafa;
  padding: 2px;
}

.scrubber {
  width:99.5%;
  display:block;
}

